@import "~rc-vertical-timeline/build/rc-vertical-timeline.min.css";

.vertical-timeline-wrapper {
    background: #f3f3f3;
}

.rc-vertical-timeline-element-icon {
    .glyphicon {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -10px;
        margin-top: -10px;
        font-size: 22px;
        color: #a0a0a0;
    }
}
