// @import "~react-vertical-timeline-component/style.min.css";
// Copied from source

$color_1: #303e49;

/* Icon animations */
@-webkit-keyframes "cd-bounce-1" {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
	}
}
@-moz-keyframes "cd-bounce-1" {
	0% {
		opacity: 0;
		-moz-transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-moz-transform: scale(1.2);
	}
	100% {
		-moz-transform: scale(1);
	}
}
@keyframes "cd-bounce-1" {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}
/* Box animations */
/* inverse bounce effect on even content blocks */
@-webkit-keyframes "cd-bounce-2" {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes "cd-bounce-2" {
	0% {
		opacity: 0;
		-moz-transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-moz-transform: translateX(20px);
	}
	100% {
		-moz-transform: translateX(0);
	}
}
@keyframes "cd-bounce-2" {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		-moz-transform: translateX(-100px);
		-ms-transform: translateX(-100px);
		-o-transform: translateX(-100px);
		transform: translateX(-100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-ms-transform: translateX(20px);
		-o-transform: translateX(20px);
		transform: translateX(20px);
	}
	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}
@-webkit-keyframes "cd-bounce-2-inverse" {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes "cd-bounce-2-inverse" {
	0% {
		opacity: 0;
		-moz-transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-moz-transform: translateX(-20px);
	}
	100% {
		-moz-transform: translateX(0);
	}
}
@keyframes "cd-bounce-2-inverse" {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		-moz-transform: translateX(100px);
		-ms-transform: translateX(100px);
		-o-transform: translateX(100px);
		transform: translateX(100px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		-o-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}

.vertical-timeline-wrapper {
    background: #f3f3f3;
}
.vertical-timeline {
	* {
		box-sizing: border-box;
	}
	width: 95%;
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
    padding: 2em 0;
    background: #f3f3f3;

	&::after {
		content: '';
		display: table;
		clear: both;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 18px;
		height: 100%;
		width: 4px;
		background: white;
	}
}
.vertical-timeline-element {
	position: relative;
	margin: 2em 0;
	>div {
		min-height: 1px;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.vertical-timeline-element-icon {
    position: absolute;
    background: #FFF;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	svg {
		display: block;
		width: 24px;
		height: 24px;
		position: relative;
		left: 50%;
		top: 50%;
		margin-left: -12px;
		margin-top: -12px;
    }
    .glyphicon {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -10px;
        margin-top: -10px;
        font-size: 22px;
        color: #a0a0a0;
    }
}
.vertical-timeline--animate {
	.vertical-timeline-element-icon.is-hidden {
		visibility: hidden;
	}
	.vertical-timeline-element-icon.bounce-in {
		visibility: visible;
		-webkit-animation: cd-bounce-1 0.6s;
		-moz-animation: cd-bounce-1 0.6s;
		animation: cd-bounce-1 0.6s;
	}
	.vertical-timeline-element-content.is-hidden {
		visibility: hidden;
	}
	.vertical-timeline-element-content.bounce-in {
		visibility: visible;
		-webkit-animation: cd-bounce-2 0.6s;
		-moz-animation: cd-bounce-2 0.6s;
		animation: cd-bounce-2 0.6s;
	}
}
.vertical-timeline-element-content {
	position: relative;
	margin-left: 60px;
	background: white;
	border-radius: 0.25em;
	padding: 1em;
	box-shadow: 0 3px 0 #ddd;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	h2 {
		color: $color_1;
	}
	p {
		font-size: 13px;
		font-weight: 500;
		margin: 1em 0 0;
		line-height: 1.6;
	}
	.vertical-timeline-element-date {
		font-size: 13px;
		font-weight: 500;
		display: inline-block;
		float: left;
		padding: .8em 0;
		opacity: .7;
	}
}
.vertical-timeline-element--no-children {
	.vertical-timeline-element-content {
		background: transparent;
		box-shadow: none;
	}
	.vertical-timeline-element-content-arrow {
		display: none;
	}
}
.vertical-timeline-element-title {
	margin: 0;
}
.vertical-timeline-element-subtitle {
	margin: 0;
}
.vertical-timeline-element-content-arrow {
	content: '';
	position: absolute;
	top: 16px;
	right: 100%;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-right: 7px solid white;
}
.vertical-timeline-element-container {
    >:first-child {
        margin-top: 0;
    }
}
@media only screen and (min-width: 1170px) {
    .vertical-timeline {
        // padding: 15px;
    }
	.vertical-timeline.vertical-timeline--two-columns {
		width: 90%;
		&:before {
			left: 50%;
			margin-left: -2px;
		}
	}
	.vertical-timeline-element {
		margin: 4em 0;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	.vertical-timeline--two-columns {
		.vertical-timeline-element-icon {
			width: 60px;
			height: 60px;
			left: 50%;
            margin-left: -30px;
            .glyphicon {
                font-size: 28px;
                margin-left: -12px;
                margin-top: -12px;
            }
        }
		.vertical-timeline-element-content {
			margin-left: 0;
			padding: 1.5em;
			width: 44%;
			.vertical-timeline-element-date {
				position: absolute;
				width: 100%;
				left: 124%;
				top: 6px;
                font-size: 14px;
                line-height: 30px;
			}
		}
		.vertical-timeline-element-content-arrow {
			top: 24px;
			left: 100%;
			transform: rotate(180deg);
		}
		.vertical-timeline-element {
			&:nth-child(even) {
				&:not(.vertical-timeline-element--left) {
					.vertical-timeline-element-content {
						float: right;
						.vertical-timeline-element-date {
							left: auto;
							right: 124%;
							text-align: right;
						}
					}
					.vertical-timeline-element-content-arrow {
						top: 24px;
						left: auto;
						right: 100%;
						transform: rotate(0deg);
					}
				}
			}
		}
		.vertical-timeline-element.vertical-timeline-element--right {
			.vertical-timeline-element-content {
				float: right;
				.vertical-timeline-element-date {
					left: auto;
					right: 124%;
					text-align: right;
				}
			}
			.vertical-timeline-element-content-arrow {
				top: 24px;
				left: auto;
				right: 100%;
				transform: rotate(0deg);
			}
		}
	}
	.vertical-timeline--two-columns.vertical-timeline--animate {
		.vertical-timeline-element {
			&:nth-child(even) {
				&:not(.vertical-timeline-element--left) {
					.vertical-timeline-element-content.bounce-in {
						-webkit-animation: cd-bounce-2-inverse 0.6s;
						-moz-animation: cd-bounce-2-inverse 0.6s;
						animation: cd-bounce-2-inverse 0.6s;
					}
				}
			}
		}
		.vertical-timeline-element.vertical-timeline-element--right {
			.vertical-timeline-element-content.bounce-in {
				-webkit-animation: cd-bounce-2-inverse 0.6s;
				-moz-animation: cd-bounce-2-inverse 0.6s;
				animation: cd-bounce-2-inverse 0.6s;
			}
		}
    }
}
@media only screen and (min-width: 768px) {
	.vertical-timeline-element-content {
		// h2 {
		// 	font-size: 20px;
		// 	font-size: 1.25rem;
		// }
		// p {
		// 	font-size: 16px;
		// 	font-size: 1rem;
		// }
		.vertical-timeline-element-date {
			font-size: 12px;
		}
	}
}
@media only screen and (max-width: 1169px) {
	.vertical-timeline--animate {
		.vertical-timeline-element-content.bounce-in {
			visibility: visible;
			-webkit-animation: cd-bounce-2-inverse 0.6s;
			-moz-animation: cd-bounce-2-inverse 0.6s;
			animation: cd-bounce-2-inverse 0.6s;
		}
	}
}
